@keyframes Loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  border: none;
  background: transparent;
  padding: 16px 24px;
  border-radius: 8px;
  transition: all 0.2s linear;

  display: flex;
  align-items: center;
  column-gap: 10px;
}

.container:hover {
  cursor: pointer;
}

.container:disabled {
  cursor: not-allowed;
  opacity: 0.4;
}

.contained {
  background: var(--green);
  color: var(--white);
}

.contained:hover {
  background: var(--green-light);
}

.contained > span {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  white-space: nowrap;
}

.outlined {
  background: transparent;
  color: var(--green-light);
  border: 1px solid #00B37E;
}

.outlined:hover {
  background: var(--green-light);
  color: var(--white);
  border: none;
}

.outlined > span {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  white-space: nowrap;
}

.loading {
  animation: Loading 1s linear infinite;
}
