.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--gray2);
  padding: 20px 30px;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.heading {
  margin-left: 15px;

  font-weight: 700;
  font-size: 25.5853px;
  line-height: 160%;
  color: var(--gray7);
}

.logoutButton {
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;

  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: var(--red-danger);
}
